<h1><%= @manufacturer.name %></h1>

<p><%= link_to 'Editar', edit_manufacturer_path(@manufacturer) %></p>
<p><%= link_to 'Apagar fabricante', manufacturer_path(@manufacturer), method: :delete  %></p>
<p><%= link_to 'Voltar', manufacturers_path %></p>
